<app-header />
<div class="container" @fadeIn>
    <h2>Mis Tareas</h2>
    <mat-divider class="divider"></mat-divider>
    <div class="toolbar">
        <div class="left">
            <button mat-raised-button color="primary" (click)="toggleAddForm()">
                {{ showAddForm ? "Cancelar" : "Agregar nueva tarea" }}
            </button>
        </div>

        <div class="right">
            <mat-form-field appearance="outline">
                <mat-label>Buscar</mat-label>
                <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Buscar" />
                <button mat-icon-button *ngIf="searchTerm" matSuffix (click)="searchTerm=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <app-task-form *ngIf="showAddForm" (taskCreated)="onTaskAdded($event)"
        (cancelForm)="toggleAddForm()"></app-task-form>

    <ng-container *ngFor="let task of paginatedTasks(); trackBy: trackById">
        <ng-container *ngIf="!selectedTaskId || selectedTaskId === task.id">
            <app-task-item [task]="task" [editing]="selectedTaskId === task.id" (edit)="onEdit(task.id)"
                (closeEdit)="onCloseEdit()" (update)="updateTask($event)"
                (deleted)="deleteTask($event)"></app-task-item>
        </ng-container>
    </ng-container>
    <div class="pagination-container" *ngIf="tasks().length > itemsPerPage">
        <div class="pagination-controls">
            <button mat-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
            <span>Página {{ currentPage }} de {{ (tasks().length / itemsPerPage) | mathCeil }}</span>
            <button mat-button (click)="nextPage()"
                [disabled]="currentPage >= ((tasks().length / itemsPerPage) | mathCeil)">
                Siguiente
            </button>
        </div>
        <p class="task-count">
            Mostrando {{ paginatedTasks().length }} de {{ tasks().length }} tareas
        </p>
    </div>
</div>