.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .task-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .divider {
    margin: 2rem 0;
  }
  
  .task-card {
    margin-bottom: 1rem;
  }
  
  .task-content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .task-info {
    flex: 1;
  }
  
  .done {
    text-decoration: line-through;
    color: gray;
  }
  
  .actions {
    display: flex;
    gap: 0.5rem;
  }
  
  .logout-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  app-header {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .task-count {
    text-align: right;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #666;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; // Importante para que baje en móvil
  
    .left,
    .right {
      display: flex;
      flex: 1;
    }
  
    .right {
      justify-content: flex-end;
    }
  
    mat-form-field {
      width: 100%;
    }
  }
  
  // Cuando el ancho sea menor a 768px (móvil)
  @media (max-width: 768px) {
    .toolbar {
      flex-direction: column;
  
      .left,
      .right {
        width: 100%;
        justify-content: center;
      }
  
      button {
        width: 100%;
      }
  
      mat-form-field {
        width: 100%;
      }
    }
  }  
  
  .search-field {
    min-width: 250px;
    flex-grow: 1;
    max-width: 400px;
  }

  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
  
    .pagination-controls {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-weight: bold;
    }
  
    .task-count {
      color: #aaa;
      font-size: 0.9rem;
    }
  }
  
  // 🌐 Vista mobile
  @media (max-width: 768px) {
    .pagination-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      .pagination-controls {
        justify-content: center;
      }
  
      .task-count {
        margin-top: 0.5rem;
      }
    }
  }